---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Projects from "../sections/Projects.astro";
import Skills from "../sections/skills.astro";
import Contact from "../sections/contact.astro";
import Footer from "../sections/Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Navbar />
	<Hero />
	<div class="divider"></div>
	<About />
	<div class="divider"></div>
	<Projects />
	<div class="divider"></div>
	<Skills />
	<div class="divider"></div>
	<Contact />
	<div class="divider"></div>
	<Footer />
</Layout>
