---
import "../styles/footer.css";
---

<footer>
    <span class="footer-text">© 2026 Rishikesh K — Built with Astro</span>
    <div class="footer-links">
        <a href="https://github.com/rishikesh-dev" target="_blank">GitHub</a>
        <a href="https://linkedin.com/in/rishikesh-k-richi" target="_blank"
            >LinkedIn</a
        >
        <a
            href="https://play.google.com/store/apps/details?id=com.rishikeshk.journeo"
            target="_blank">Play Store</a
        >
    </div>
</footer>
