---
import "../styles/skills.css";
import { db } from "../db/firebase.ts";

type SkillCategory = {
    id: string;
    label: string;
    skills: string[];
};

const snap = await db.collection("skills").get();

const skills: SkillCategory[] = snap.docs.map((doc) => {
    const data = doc.data();

    return {
        id: doc.id,
        label: data.label ?? "",
        skills: Object.values(data).find((v) => Array.isArray(v)) ?? [],
    };
});
---

<section id="skills" class="p-5">
    <div class="section-label">
        <span>03</span> Skills
    </div>

    <div class="skills-grid">
        {
            skills.map((category) => (
                <div class="skill-category">
                    <div class="skill-category-title">{category.label}</div>

                    <ul class="skill-list">
                        {category.skills.map((skill: string) => (
                            <li>{skill}</li>
                        ))}
                    </ul>
                </div>
            ))
        }
    </div>
</section>
